.panel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 320px;
  height: auto;
  right: 10px;
  top: 50%;
  border-radius: 40px;
  background-color: white;
  font-family: din-next-w01-light;
  color: #909090;
  padding: 20px;
  padding-bottom: 40px;
  z-index: 1;
  transition: all 0.4s ease;
}
.panel h3{
  color: #f05330;
  margin-bottom: 0;
}
.panel p{
  font-size: 12px;
  margin-top: 0;
}
:global(.rc-slider .rc-slider-handle){
  border: solid 6px #eaf0ee;
  background-color: #24184f;
  margin-top: -6px;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
}
:global(.rc-slider){
  margin-top: 25px;
}
:global(.rc-slider .rc-slider-track){
  height: 14px;
  background-color: #f05330;
}
:global(.rc-slider .rc-slider-rail){
  height: 14px;
  background-color: #58585a;
}

/******* tooltip global ********/
:global(.rc-slider-tooltip){
  z-index: 6000;
}
:global(.rc-slider-tooltip-inner) {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 10px;
  line-height: 1;
  color: #24184f;
  text-align: center;
  text-decoration: none;
  background-color: #eaf0ee;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
:global(.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow) {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #eaf0ee;
}
.metrics{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.collapseButton{
  display: none;
}
.close{
  display: none;
}
@media only screen and (max-width: 600px) {
  .panel {
    top: calc(100% - 210px);
    left: 100%;
    width: 100%;
    border-radius: 0;
    transition: all 0.4s ease;
  }
  .panel.open {
    left: 0;
    width: 100%;
  }
  
  .collapseButton{
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    left: -50px;
    width: 50px;
    height: auto;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #f05330;
    align-items: center;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
  }
  .close{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }
}
